.plays__container {
    width: 100%;
    /*max-width: 1320px;*/
    /*max-width: 500px;*/
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.plays__container::-webkit-scrollbar {
    display: none;
}

@media all and (max-width: 1200px) {
    .plays__container {
        overflow-x: auto;
        flex-wrap: nowrap;
        /*-webkit-overflow-scrolling: touch;*/
    }
}
