.link_type_brackets::before {
  content: '';
  display: block;
  width: 10px;
  height: 24px;
  background-image: url('../../../images/icon/bracket.svg');
  background-position: center;
  visibility: hidden;
}

.link_type_brackets::after {
  content: '';
  display: block;
  width: 10px;
  height: 24px;
  transform: rotate(180deg);
  background-image: url('../../../images/icon/bracket.svg');
  background-position: center;
  visibility: hidden;
}

.link_type_brackets:hover::before {
  visibility: visible;
}

.link_type_brackets:hover::after {
  visibility: visible;
}
