.link_type_background {
  transition: background-color .3s, color .3s;
}

.link_type_background:hover {
  background-color: var(--color-font);
  color: var(--color-white);
  transition: background-color .7s, color .7s;
}
