.card-spectacle__playwright {
  grid-area: playwright;
  margin: 0 0 16px;
  padding: 0 1px 4px 30px;
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: calc(22 / 16);
}

@media (max-width: 980px) {
  .card-spectacle__playwright {
    padding: 0;
    margin: 0 0 8px;
  }
}
