.button-small_type_left {
  padding-left: 28px;
  border-left: 1px solid var(--color-font);
  background-image: url('../../../images/arrow-right.svg');
  background-position: left;
  text-align: left;
}
