.footer__text_place_authors {
  max-width: 207px;
}

.footer__text_place_authors:first-of-type {
  max-width: 150px;
}

@media (max-width: 980px) {
  .footer__text_place_authors {
    max-width: 254px;
  }
}
