.button-section__button {
    width: 298px;
    height: 56px;
    padding: 16px 16px 18px 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-blocks);
    text-decoration: none;
    cursor: pointer;
}

@media all and (max-width: 1280px) {
    .button-section__button {
        width: 268px;
    }
}

@media all and (max-width: 920px) {
    .button-section__button {
        width: 168px;
    }
}

@media all and (max-width: 665px) {
    .button-section__button {
        width: 298px;
    }
}