.footer__partners-logo {
  max-width: 97px;
  max-height: 37px;
  width: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

@media (max-width: 980px) {
  .footer__partners-logo {
    max-width: 118px;
    max-height: 44px;
  }
}
