.intro {
  width: 100%;
  padding-top: 33px;
  display: grid;
  grid-template-areas:
  'button title'
  'text image';
  grid-template-columns: repeat(2, 50%);
  row-gap: 72px;
}

@media (max-width: 980px) {
  .intro {
    padding-top: 30px;
    grid-template-areas:
    '. button .'
    '. title .'
    '. text .'
    'image image image';
    grid-template-columns: 24px auto 24px;
    row-gap: 0;
  }
}
