.footer__partners-link {
  display: block;
}

@media (max-width: 980px) {
  .footer__partners-list-item:first-of-type .footer__partners-link::after {
    content: 'Генеральный партнёр';
    display: block;
    margin-top: 12px;
    font-size: 14px;
    line-height: calc(20 / 14);
    text-align: center;
    font-feature-settings: 'ss01' on;
  }

  .footer__partners-list-item:nth-of-type(3) .footer__partners-link::after {
    content: 'Онлайн-трансляции';
    display: block;
    margin-top: 12px;
    font-size: 14px;
    line-height: calc(20 / 14);
    text-align: center;
    font-feature-settings: 'ss01' on;
  }
}
