.footer {
  width: 100%;
  padding: 42px 32px 54px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'logo partners partners'
    '. address menu'
    '. copyright authors';
  grid-template-columns: calc(207px - 42px) auto 628px;
  column-gap: 10px;
}

@media (max-width: 980px) {
  .footer {
    padding: 56px 0 74px;
    grid-template-areas:
      'logo'
      'address'
      'menu'
      'partners'
      'copyright'
      'authors';
      grid-template-columns: 100%;
  }
}
